---
clusters:
{% for cluster_name, cluster in gtk_clusters.items() %}
{% if cluster.enabled %}
  - name: {{ cluster_name }}
    network: localclusters
{% if gtk_enable_corp_ca %}
    volumes:
      "{{ gtk_corp_ca_file }}": "/etc/ssl/certs/corp.crt"
{% endif %}
    envs:
      http_proxy: "@all"
      https_proxy: "@all"
      HTTP_PROXY: "@all"
      HTTPS_PROXY: "@all"
      NO_PROXY: "@all"
      no_proxy: "@all"
    additionalArgs:
      k3s-arg: "--tls-san=k3d-{{ cluster_name }}-serverlb@server:*"
    labels:
      kubernetes.cnp.io/cluster.name: {{ cluster_name }}
  {% for key, value in cluster.labels.items() %}
    {{ key }}: {{ value }}
  {% endfor %}
{% if cluster.git_ops is defined %}
  gitOps:
      namespace: {{ cluster.git_ops.namespace }}
      port: "{{ cluster.git_ops.port }}"
      manifestPath: "{{ _gtk_argocd.manifest.dir }}/{{ _gtk_argocd.manifest.sub_path }}"
      credentials:
        {{ cluster.git_ops.credentials | to_nice_yaml | indent(8) }}
{% endif %}
{% endif %}

{% endfor %}

