---
clusters:
  - name: dev
    network: localclusters
    volumes:
{% if gtk_enable_corp_ca %}
      "{{ gtk_corp_ca_path }}": "/etc/ssl/certs/corp.crt"
{% endif %}
    envs:
      http_proxy: "@all"
      https_proxy: "@all"
      HTTP_PROXY: "@all"
      HTTPS_PROXY: "@all"
      NO_PROXY: "@all"
      no_proxy: "@all"
    additionalArgs:
      k3s-arg: "--tls-san=k3d-dev-serverlb@server:*"
    labels:
      kubernetes.cnp.io/cluster.name: dev
      kubernetes.cnp.io/cluster.jurisdiction: k3d
      kubernetes.cnp.io/cluster.region: muse2
      kubernetes.cnp.io/cluster.segment: multitenant
      kubernetes.cnp.io/environment: dev
  - name: tst
    network: localclusters
    volumes:
{% if gtk_enable_corp_ca %}
      "{{ gtk_corp_ca_path }}": "/etc/ssl/certs/corp.crt"
{% endif %}
    envs:
      http_proxy: "@all"
      https_proxy: "@all"
      HTTP_PROXY: "@all"
      HTTPS_PROXY: "@all"
      NO_PROXY: "@all"
      no_proxy: "@all"
    additionalArgs:
      k3s-arg: "--tls-san=k3d-tst-serverlb@server:*"
    labels:
      kubernetes.cnp.io/cluster.name: tst
      kubernetes.cnp.io/cluster.jurisdiction: k3d
      kubernetes.cnp.io/cluster.region: muse2
      kubernetes.cnp.io/cluster.segment: multitenant
      kubernetes.cnp.io/environment: tst
  - name: qa
    network: localclusters
    volumes:
{% if gtk_enable_corp_ca %}
      "{{ gtk_corp_ca_path }}": "/etc/ssl/certs/corp.crt"
{% endif %}
    envs:
      http_proxy: "@all"
      https_proxy: "@all"
      HTTP_PROXY: "@all"
      HTTPS_PROXY: "@all"
      NO_PROXY: "@all"
      no_proxy: "@all"
    additionalArgs:
      k3s-arg: "--tls-san=k3d-qa-serverlb@server:*"
    labels:
      kubernetes.cnp.io/cluster.name: qa
      kubernetes.cnp.io/cluster.jurisdiction: k3d
      kubernetes.cnp.io/cluster.region: musw2
      kubernetes.cnp.io/cluster.segment: multitenant
      kubernetes.cnp.io/environment: qa
  - name: admin
    network: localclusters
    gitOps:
      namespace: "{{ gtk_argocd_namespace }}"
      port: "8080"
      manifestPath: "{{ gtk_argocd_manifest_path }}"
      credentials:
        username: admin
        password: admin1234
    volumes:
{% if gtk_enable_corp_ca %}
      "{{ gtk_corp_ca_path }}": "/etc/ssl/certs/corp.crt"
{% endif %}
    envs:
      http_proxy: "@all"
      https_proxy: "@all"
      HTTP_PROXY: "@all"
      HTTPS_PROXY: "@all"
      NO_PROXY: "@all"
      no_proxy: "@all"
    additionalArgs:
      k3s-arg: "--tls-san=k3d-admin-serverlb@server:*"

