---
clusters:
{% for cluster_name, cluster in gtk_clusters.items() %}
{% if cluster.enabled %}
  - name: {{ cluster_name }}
    network: localclusters
{% if gtk_enable_corp_ca %}
    volumes:
      "{{ gtk_corp_ca_file }}": "/etc/ssl/certs/corp.crt"
{% endif %}
    envs:
      http_proxy: "{{ gtk_clusters_proxy.all_proxy }}@all"
      https_proxy: "{{ gtk_clusters_proxy.all_proxy }}@all"
      HTTP_PROXY: "{{ gtk_clusters_proxy.all_proxy }}@all"
      HTTPS_PROXY: "{{ gtk_clusters_proxy.all_proxy }}@all"
      NO_PROXY: "{{ gtk_clusters_proxy.no_proxy }}@all"
      no_proxy: "{{ gtk_clusters_proxy.no_proxy }}@all"
    additionalArgs:
      - --k3s-arg=--tls-san=k3d-{{ cluster_name }}-serverlb@server:*
{%- if cluster.k3d_extra_args is defined +%}
{% for value in cluster.k3d_extra_args %}
      - {{+ value }}
{% endfor %}
{%- endif %}

    labels:
      kubernetes.cnp.io/cluster.name: {{ cluster_name }}
{% for key, value in cluster.labels.items() %}
      {{+ key }}: {{ value }}
{% endfor %}
{%- if cluster.annotations is defined +%}
    annotations:
{% for key, value in cluster.annotations.items() %}
      {{+ key }}: {{ value }}
{% endfor %}
{%- endif %}
{%- if cluster.git_ops is defined +%}
    gitOps:
      namespace: {{ cluster.git_ops.namespace }}
      port: "{{ cluster.git_ops.port }}"
      manifestPath: "{{ _gtk_argocd.manifest.dir }}/{{ _gtk_argocd.manifest.sub_path }}"
      credentials:
        {{ cluster.git_ops.credentials | to_nice_yaml | indent(8) }}
{% endif %}
{% endif %}

{% endfor %}

